<%= form_for @detalle_factura, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :id_factura, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :id_factura, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :id_articulo, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :id_articulo, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :cantidad, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cantidad, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :subtotal, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :subtotal, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                detalle_facturas_path, :class => 'btn' %>
  </div>
<% end %>
