<%= form_for @factura, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :id_usuario, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :id_usuario, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :cliente, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cliente, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :fecha, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :fecha, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :total, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :total, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                facturas_path, :class => 'btn' %>
  </div>
<% end %>
