<div class="well">
  <form id="venta" method="post" action="facturas/venta ">
  <input type="text" name="cliente" placeholder="Cliente" class="span12">
  <table id="tablaVenta" class="table table-striped">
  <thead>
    <tr>
      <th>Código</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Cantidad</th>
      <th>Subtotal</th>
    </tr>
  </thead>
  <tbody>
    <tr class="fila-base" hidden="true">
      <td><input name="codigo" class="codigo input-small" type="text" ></td>
      <td><input name="descripcion" class="descripcion input-xlarge" readonly="true" type="text"></td>
      <td><input name="precio" class="precio input-small" readonly="true" type="text"></td>
      <td><input name="cantidad" class="cantidad input-small" type="number" ></td>
      <td><input name="subtotal" class="subtotal input-small" readonly="true" type="text"></td>
    </tr>  
    <tr>
      <td><input name="codigo" class="codigo input-small" type="text" ></td>
      <td><input name="descripcion" class="descripcion input-xlarge" readonly="true" type="text"></td>
      <td><input name="precio" class="precio input-small" readonly="true" type="text"></td>
      <td><input name="cantidad" class="cantidad input-small" type="number" ></td>
      <td><input name="subtotal" class="subtotal input-small" readonly="true"  type="text"></td>
    </tr>      
  </tbody>
</table>
<button id="sold" class="btn btn-primary" href="facturas/venta">Aceptar</button>
<%= link_to t('.cancel', :default => t("Cancelar")),
                articulos_path, :class => 'btn' %>
</form>
</div>

<script>



$(document).ready(function(){

  $("#sold").click(function(){
    
    var sdata = $("#venta").serialize();

    alert(sdata);

    $.ajax({
      url: "facturas/venta",
      dataType: 'json',
      data: sdata,
      success: function(response) {

      }

  });
  });


  function clonar(){
    if($("table tbody tr:last() td input").val() != ""){
      $("table tbody tr:eq(0)").clone(true).removeClass('fila-base').appendTo("table tbody").removeAttr("hidden");
    }
  }

  $(".codigo").change(function(){
    var ruta = "/articulos/get_by_code/"
    var jsonData;
    var este = $(this);

    $.ajax({
      url: ruta.concat($(this).val()),
      dataType: 'json',
      success: function(response) {
          jsonData = response;

          este.parent().first().next().children().val(jsonData.descripcion);
          este.parent().first().next().next().children().val(jsonData.precio_venta);
          este.parent().first().next().next().next().children().val("1");
          este.parent().first().next().next().next().next().children().val(parseFloat(jsonData.precio_venta));

          clonar();
      }
    }); 
  });


  $(".cantidad").change(function(){

    var subtotal = parseFloat($(this).val()*$(this).parent().prev().children().val());
    $(this).parent().next().children().val(subtotal);

  });

});
</script>
