<%- model_class = Factura -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:id_usuario) %>:</strong></dt>
  <dd><%= @factura.id_usuario %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cliente) %>:</strong></dt>
  <dd><%= @factura.cliente %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fecha) %>:</strong></dt>
  <dd><%= @factura.fecha %></dd>
  <dt><strong><%= model_class.human_attribute_name(:total) %>:</strong></dt>
  <dd><%= @factura.total %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              facturas_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_factura_path(@factura), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              factura_path(@factura),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
