<div class="well">
  <%- model_class = DetalleFactura -%>
  <div >
    <input type="text" >
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:id) %></th>
        <th><%= model_class.human_attribute_name(:id_factura) %></th>
        <th><%= model_class.human_attribute_name(:id_articulo) %></th>
        <th><%= model_class.human_attribute_name(:cantidad) %></th>
        <th><%= model_class.human_attribute_name(:subtotal) %></th>
        <th><%= model_class.human_attribute_name(:created_at) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @detalle_facturas.each do |detalle_factura| %>
        <tr>
          <td><%= link_to detalle_factura.id, detalle_factura_path(detalle_factura) %></td>
          <td><%= detalle_factura.id_factura %></td>
          <td><%= detalle_factura.id_articulo %></td>
          <td><%= detalle_factura.cantidad %></td>
          <td><%= detalle_factura.subtotal %></td>
          <td><%=l detalle_factura.created_at %></td>
          <td>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_detalle_factura_path(detalle_factura), :class => 'btn btn-mini' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        detalle_factura_path(detalle_factura),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_detalle_factura_path,
              :class => 'btn btn-primary' %>
</div>