<%= form_for @articulo, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label "id Usuario", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :id_usuario, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Código", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :codigo, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Descripción", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :descripcion, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Precio de Compra", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :precio_compra, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Precio de Venta", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :precio_venta, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Stock", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :stock, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("Cancelar")),
                articulos_path, :class => 'btn' %>
  </div>
<% end %>
