<%- model_class = Articulo -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Código</th>
      <th>Descripción</th>
      <th>Precio de Compra</th>
      <th>Precio de Venta</th>
      <th>Stock</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @articulos.each do |articulo| %>
      <tr>
        <td><%= articulo.codigo %></td>
        <td><%= articulo.descripcion %></td>
        <td><%= articulo.precio_compra %></td>
        <td><%= articulo.precio_venta %></td>
        <td><%= articulo.stock %></td>
        <td>
          <%= link_to t('.edit', :default => t("Modificar")),
                      edit_articulo_path(articulo), :class => 'btn btn-info icon-white icon-pencil' %>
          <%= link_to t('.destroy', :default => t("Eliminar")),
                      articulo_path(articulo),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Esta seguro?')) },
                      :class => 'btn btn-danger icon-white icon-remove' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("Nuevo Articulo")),
            new_articulo_path,
            :class => 'btn btn-primary' %>
