<%- model_class = Articulo -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:id_usuario) %>:</strong></dt>
  <dd><%= @articulo.id_usuario %></dd>
  <dt><strong><%= model_class.human_attribute_name(:codigo) %>:</strong></dt>
  <dd><%= @articulo.codigo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:descripcion) %>:</strong></dt>
  <dd><%= @articulo.descripcion %></dd>
  <dt><strong><%= model_class.human_attribute_name(:precio_compra) %>:</strong></dt>
  <dd><%= @articulo.precio_compra %></dd>
  <dt><strong><%= model_class.human_attribute_name(:precio_venta) %>:</strong></dt>
  <dd><%= @articulo.precio_venta %></dd>
  <dt><strong><%= model_class.human_attribute_name(:stock) %>:</strong></dt>
  <dd><%= @articulo.stock %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              articulos_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_articulo_path(@articulo), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              articulo_path(@articulo),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
